@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b2447;
}

.df-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
}

.checkbox__container {
  justify-content: start;
  flex-wrap: wrap;
  margin: 0 30px;
}

.checkbox__wrapper {
  display: flex;
  position: relative;
  margin: 10px;
  margin-left: 0;
}

.checkbox__label {
  color: white;
  margin: 0 30px;
}

.checkbox__wrapper input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  z-index: 999999;
  cursor: pointer;
}

.inner__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 8px 45px;
}

.inner__wrapper p {
  transform: translateX(8px);
  transition: all 0.4s;
}

.inner__wrapper::before,
.inner__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  transition: all 0.4s;
}

.inner__wrapper::before {
  content: "\f00c";
  left: 0;
  width: 42px;
  background: white;
  color: rgb(225, 225, 225);
  border-radius: 5px 0 0 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transform-origin: left;
}

.inner__wrapper::after {
  right: 0;
  width: calc(100% - 42px);
  background: white;
  border-radius: 0 5px 5px 0;
  z-index: -1;
  transform-origin: right;
}

.checkbox__wrapper input[type="checkbox"]:checked ~ .inner__wrapper::before {
  color: white;
  width: 40px;
  background: #576cbc;
}

.checkbox__wrapper input[type="checkbox"]:checked ~ .inner__wrapper::after {
  width: calc(100% - 45px);
}

.checkbox__wrapper input[type="checkbox"]:checked ~ .inner__wrapper p {
  transform: translateX(15px);
}
